################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs
/API/API/bin/Debug/netcoreapp3.0
/API/API/obj
/Domain/bin/Debug/netcoreapp3.0
/Domain/obj
/EF/bin/Debug/netcoreapp3.0
/EF/obj
/Service/bin/Debug/netcoreapp3.0
/Service/obj
/Test/bin/Debug/netcoreapp3.0
/Test/obj
