<div fxLayout="row" class="create-user" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" [disabled]="form.invalid">Submit</button>
        </form>
    </mat-card>

</div>